<nav class="navbar navbar-expand-lg bg-body-tertiary d-flex">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink='/landing'>ProManage</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/manager">Managers</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/project">Projects</a>
        </li>
      </ul>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>


<section class="footer">
  <div>
    <h2>ProManager</h2>
  </div>
  <div>
   <p>SUPPORT</p> 

<p>Help Center</p>

<p>Contact Sales</p>

<p>Integrations</p>  

<p>Recently Realeased</p>   

<p>Legal</p> Legal

<p>Terms of Service</p>   

<p>Privacy Policy</p>   
  </div>
  <div>
   <p>COMPANY</p>   

<p>About us</p>   

<p>Trust</p>  

<p>Pricing</p>  

<p>Careers</p>  

<p>Blog</p>   

<p>Contact us</p>   
  </div>
  <div>\
    <h3>GET THE APP</h3>
    <img src="https://taskworld.com/_next/static/media/Google_Play.b40d6cab.svg" alt="">
    <img src="https://taskworld.com/_next/static/media/App_Store.63d851f6.svg" alt="">
  </div>

</section>
<p class="footer">© 2023 Copyright:Taskworld. All rights reserved. U.S. Patent 11,144,854</p>
