*{
    font-family: Arial, Helvetica, sans-serif
}

.parent{
    width: 90%;
    margin: auto;
    display: flex;
    align-items:normal;
    justify-content: space-around;
}

.parent>div:nth-child(1){
    width: 40%;
    
}
.parent>div:nth-child(1)>img{
    width: 80%;
    border-radius: 20px;
    margin: 5%;
}
.parent>div:nth-child(2){
    width: 60%;
    margin-top: 4%;
    height: 40vh;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.48) 0px 3px 8px;
}
.parent>div:nth-child(2)>div{
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

.projects{
    width: 80%;
    margin: auto;
}

